path{
    stroke: black;
}


foreignObject>div{
    color: black;
}

.navbar{
   border-radius: 0px;
} 

circle{
    fill:white;
    stroke: #337ab7;
}

.funcionCaption{
    font-size: .7em;
}


/*For call out*/

